<!doctype html>
<html>
  <head>
    <title>ChatRoom <%= room.name %></title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/chatRoom.css">
  </head>
  <body>
    <nav>
      <div id="logo">
        <a href="/">>> Chatter_</a>
      </div>
    </nav>
    <div id="container">
      <header>
        <div id="room-name"><%= room.name %></div>
        <div id="room-info">
          <div><span>Type</span> <span><%= room.type %></span></div>
          <div><span>Master</span> <span><%= room.master %></span></div>
        </div>
        <div id="room-member">
          <div>Memebers</div>
          <ul id="members"></ul>
        </div>
      </header>
      <section>
        <div>
          <ul id="messages"></ul>
        </div>
        <form action="">
          <input id="m" autocomplete="off" /><button>Send</button>
        </form>
      </section>
    </div>

    <input type="hidden" id="roomName" value=<%= room.name %>>
    
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script>
      $(function() {
          var socket = io()
          socket.emit('Enter Room', $('#roomName').val())
          
          $('form').on('submit', function(e) {
              e.preventDefault()
              socket.emit('Chat', {
                  msg: $('#m').val()
              })
              $('#m').val('')
              return false
          })
          socket.on('Chat', function(chatie){
              $('#messages').append($('<li>').text(chatie.userName + ": " + chatie.msg))
          })
          socket.on('Update Members', function(members){
              document.querySelector('#members').innerHTML = ""
              for(let i=0; i<members.length; i++){
                  $('#members').append($('<li>').text(members[i]))
              }
          })
      })
    </script>
  </body>
</html>
